/**
 * _custom.scss
 */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  /* Font fallbacks from: */
  /* https://www.cssfontstack.com */
  font-family: "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: white;
}
code {
  padding: 0.25em;
  font-family: "Menlo", "Consolas", "Monaco", monospace;
  font-size: 90%;
  margin: 0 0.175em;
  background-color: #EEE;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

/*
Helpers
 */
.mtp {
  margin-top: 1.3em !important;
}
.mbp {
  margin-bottom: 1.3em !important;
}
.clear {
  clear: both;
}
.vert-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*
Global
 */
.blocks {
  padding: 2rem;
  margin-bottom: 1.3em;
}

/* Box bg colors */
.boxes .box:nth-of-type(1) {
  background-color: hsla(230, 100%, 50%, 0.7);
}
.boxes .box:nth-of-type(2) {
  background-color: hsla(230, 100%, 50%, 0.6);
}
.boxes .box:nth-of-type(3) {
  background-color: hsla(230, 100%, 50%, 0.5);
}
.boxes .box:nth-of-type(4) {
  background-color: hsla(230, 100%, 50%, 0.4);
}
.boxes .box:nth-of-type(5) {
  background-color: hsla(230, 100%, 50%, 0.3);
}

/*
Blocks
 */
.box {
  position: relative;
  display: inline-block;
  margin: 0 1.0em 1.0em 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

#block-5 .box {
  display: block;
  padding: 0;
  margin-right: 0;
  margin-bottom: 0;
}
#block-5 span {
  cursor: pointer;
}
textarea {
  padding: 0.5rem;
  max-width: 100%;
  min-width: 350px;
  min-height: 100px;
  border: 1px solid #999;
  border-radius: 2px;
}

#block-7 input[type="email"],
#block-7 input[type="text"] {
  padding: 0.5em;
  font-size: 1.5em;
  border: 1px solid #CCC;
  border-radius: 2px;
  min-width: 500px;
}

#block-8 #json {
  padding: 1rem 1.375rem;
  max-height: 300px;
  background-color: #FAFAFA;
  border: 1px solid #DDD;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 2px;
}

#block-10 {
  color: white;
}
#block-10.silver {
  color: #DDD !important;
}