# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

.DS_Store
Desktop.ini
Thumbs.db

css/main.css
css/main.css.map

js/*-dist.js*
